* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Roboto', sans-serif;
}

li  {
  list-style: none;
}

.inline-block  {
  display: inline-block;
}

.orange-nav  {
  background-color: #FA6938;
  padding: 0.5%;

}

.orange-nav ul  {
  margin: 0;
  font-size: 9pt;
  color: white;
}

.orange-nav li  {
  display: inline-block;
}

#free-ship  {
  background-color: #C7532C;
  border-radius: 3px;
  padding: 0.6em;
  font-size: 7pt;
  margin-left: 50px;
  margin-bottom: 1px;
  letter-spacing: 0.1em;
}

#spring-save  {
  margin-left: 10px;
}

#ten-off-50  {
  margin-left: 14px;
}

#twenty-off-100  {
  margin-left: 26px;
}

#thirty-off-150  {
  margin-left: 28px;
}

nav{
  display: block;
  position: relative;
  z-index: 1;
}

.nav-cont  {
  text-align: left;
  height: 99px;
}

.link1  {
  font-size: 1.21em;
  margin-left: 63px;
  margin-top: 40px;
}

.link2  {
  font-size: 1.21em;
  margin-left: 23px;
  margin-top: 40px;
}

.link3  {
  font-size: 1.21em;
  margin-left: 23px;
  margin-top: 40px;
}

.link4  {
  font-size: 1.21em;
  margin-left: 23px;
  margin-top: 40px;
}

.link5  {
  font-size: 1.21em;
  margin-left: 23px;
  margin-top: 40px;
}

.nav-cont-border{
  background:transparent url(../assets/perforated-bottom@2x.png);
  height: 5px;
  width: 100%;
  background-size: 40px auto;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  float: left;
}

.logo-links  {
  width: 70%;
  display: inline-block;
}

#cart-search  {
  overflow: hidden;
  display: inline-block;
}

.logo {
  float: left;
  margin-left: 12.3%;
  width: 108px;
}

.logo-img  {
  width: 100%;
  height: auto;
}

.header-link  {
  text-decoration: none;
  color: #656565;
}

.float-left  {
  float: left;
}

.banner{
  margin-top:-5px;
  float: left;
  width: 100%;
  border-bottom: 2px solid #EFEFEF;
}

.banner-box  {
  text-align: center;
  background-color: #F4F4F4;
  width: 100%;
}

.tie-img  {
  width: 5.9%;
  margin: 0 1%;
}

.tie-img img {
  width: 100%;
}

.tie-wds  {
  font-size: .8em;
  margin-top: 20%;
}

.dress-bet  {
  font-size: 3em;
  margin-top: 5%;
  padding-bottom: 5%;
  vertical-align: middle;
}

.not-ties  {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.not-ties li{
  margin-top: 4%;
  margin-left: 1%;
  margin-bottom: 6%;
  margin-right: 1%;
  width: 27.1%;
  border: 1px solid #EFEFEF;
  display: inline-block;
}

.not-ties li:first-child  {
  margin-left: 0;
}

.not-ties li:nth-child(even) {
  margin: 0;
}

.not-ties li:last-child  {
  margin-right: 0;
}

.not-ties li img{
  max-width: 100%;
}

.motto  {
  font-size: 1.8em;
  text-align: center;
  font-style: italic;
  margin: 0 18%;
  line-height: 1.5em;
}

.blog-box  {
  text-align: center;
  margin: 1%;
}

.blog  {
  text-decoration: none;
  color: #37A2FF;
  font-size: .8em;
  letter-spacing: .2em
}

.hatchet-bord  {
  background:transparent url(../assets/hatch-light@2x.png);
  height: 5px;
  width: 100%;
  background-size: 6px auto;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  float: left;
  margin-top: 5.2%;
}


.below-fold  {
  text-align: center;
  margin-top: 86px;
}

.below-fold-box img  {
  width: 100%;
}

.weekly-pick-box {
  width: 18%;
  margin: 27px 17px 0 17px;
  vertical-align: top;
}

.weekly-title  {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 10px;
}
.weekly-img img {
  width: 100%;
  border: 2px solid #EFEFEF;
}

.weekly-link  {
  text-align: left;
  margin-top: 6px;
}

.weekly-link a {
  text-decoration: none;
  font-size: 9pt;
  color: #37A2FF;
}

.loop-us-box  {
  vertical-align: top;
  margin-top: 27px;
  text-align: left;
  width: 19%;
  margin: 27px 17px 0px 17px;
}

.loop-us-title  {
  font-weight: bolder;
}

.loop-us-words  {
  font-size: 9pt;
  margin-top: 11px;
  line-height: 1.45em;
}

.facebook, .pintrest, .twitter  {
  background-image: url(../assets/sprite@2x.png);
  display: inline-block;
  background-size: 338px 168px;
  height: 30px;
  width: 30px;
}

.icon-box  {
  display: inline-block;
  margin-top: 10px;
}
.facebook  {
  background-position: -228px 0px;
}

.pintrest  {
  background-position: -228px -33px;
  margin: 0 5px;
}

.twitter  {
 background-position: -228px -67px;
}

.quarterly-box  {
  width: 18%;
  margin: 27px 8px 0px 17px;
  vertical-align: top;
}

.quarterly-title  {
  font-weight: bolder;
  text-align: left;
}

.quarterly-wds  {
  font-size: 9pt;
  margin-top: 11px;
  line-height: 1.45em;
  text-align: left;
}

.email-input  {
  color: #9A9090;
  font-size: 10pt;
  padding: 7px;
  border: 3px solid #EFEFEF;
  border-radius: 3px;
  text-align: left;
  margin: 10px;
}

.style-box  {
  width: 18%;
  margin: 27px 17px 0 17px;
}

.style-title  {
  font-weight: bolder;
  text-align: left;
  margin-bottom: 6px;
}

.style-img  {
  border: 2px solid #EFEFEF;
}

.style-text1, .style-text2  {
  font-size: 8pt;
  margin-top: 11px;
  text-align: left;
  line-height: .5em;
}

.style-text1 a, .style-text2 a {
  text-decoration: none;
  font-size: 8pt;
  color: #37A2FF;
}

.bottom-bord  {
  background:transparent url(../assets/perforated-bottom@2x.png);
  height: 5px;
  width: 100%;
  background-size: 40px auto;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  float: left;
  margin-top: 38px;
}

footer  {
  background-color: #F4F4F4;
  margin-top: 38px;
}

.link-box2  {
  text-align: left;
  font-size: 9pt;
}

.link-box2 ul  {
  display: inline-block;
}

.shop-by-box  {
  margin: 24px 0px 0px 54px;
  vertical-align: top;
}

.shop-by-box li {
  margin-bottom: 4px;
}

.shop-by  {
  font-weight: bolder;
  margin-bottom: 6px;
}

.about-us-box  {
  margin: 24px 0px 0px -2px;
  vertical-align: top;
}

.about-us  {
  font-weight: bolder;
  margin-bottom: 6px;
}

.about-us-box li  {
  margin-bottom: 4px;
}

.style-guide-box  {
  margin: 24px 0px 0px -2px;
  vertical-align: top;
}

.style-guide-box li {
  margin-bottom: 4px;
}

.help-box  {
  margin: 24px 0px 0px -2px;
  vertical-align: top;
}

.help-box li {
  margin-bottom: 4px;
}

.grey-link  {
  color: #9A9090;
}

.here-for-you-box  {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  float: right;
  background-color: #A2AFC0;
  color: white;
  padding: 20px;
}

.here-for-you  {
  font-size: 2em;
  font-weight: lighter;
}

.contact-us  {
  float: right;
}

.copyright-box  {
  font-size: 7pt;
  color: #9A9090;
  background-color: #F4F4F4;
  padding-bottom: 20px;
}

.copyright, .made-by  {
  float: left;
}

.made-by  {
  margin-left: 20px;
}
